header a {
  margin: 0;
  padding: 0;
}

header {
  background-image: url('../public/images/sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

header svg,
footer svg {
  width: 20px;
  height: 20px;
}

.skip-link {
  display: none;
}
