/* General*/
// red #CC1530 !default;
// orange #EF7C24 !default;
// yellow #FAE81A !default;
// green #9CC03C !default;
// blue #008AB7 !default;
// purple #5C2C91 !default;

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p,
a,
ul li,
ol li {
    margin-left: 5%;
    margin-right: 15%;
}

p a,
ul li a,
ol li a {
    display: inline;
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: normal;
}

a {
    color: white;
    font-weight: bold;
}
.skip-link {
    display: none;
  }
a > span > svg   {
    width: 1em;
    height: 1em;
  }
footer > div > ul > li:nth-child(2) > a > svg  {
    width: 1em;
    height: 1em;
  }

main::after {
    content: '';
    position: fixed;
    padding-left: 3px;
    right: 10%;
    top: 0;
    bottom: 0;
    width: 30px;
    pointer-events: none;
    background: linear-gradient(to right,
        #CC1530 0%,
        #CC1530 16.6%,
        #EF7C24 16.6%,
        #EF7C24 33.2%,
        #FAE81A 33.2%,
        #FAE81A 49.8%,
        #9CC03C 49.8%,
        #9CC03C 66.4%,
        #008AB7 66.4%,
        #008AB7 83%,
        #5C2C91 83%,
        #5C2C91 100%
    );
    width: 35px;
}
header,
nav {
    &::after {
        display: none;
    }
}
///////////////////////////
/**** Main ****/
///////////////////////////
/* About - Setting the Stage */
///////////////////////////
article#about>section.container:first-of-type {
    background-color: #5C2C91;
    color: white;
    padding: 10px;
    padding-bottom: 50px;
}

///////////////////////////
/* About - Modern CSS Under the Spotlight */
///////////////////////////
article#about>section.container:nth-of-type(2) {
    background-image: url('../public/images/sky.jpg');
    background-size: cover;
    background-position: center;
    color: #5C2C91;
    padding: 10px;
    padding-bottom: 50px;
}
///////////////////////////
/* skittles list */
/////////////////////////// 
/// #7, #13, #14 Can't get Skittles to appear :( //
article:nth-child(1) section:nth-child(2) ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    width: 100%;
    padding: 0;
    padding-left: 0;
    color: #CC1530;
    font-weight: 500;
}
article#about>section.container:nth-of-type(2) ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
article#about > section.container:nth-of-type(2) ul li:nth-child(7n+1):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
article#about > section.container:nth-of-type(2) ul li:nth-child(7n-6):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
article#about > section.container:nth-of-type(2) ul li:nth-child(7n+2):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/orange.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
article#about > section.container:nth-of-type(2) ul li:nth-child(7n+3):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/yellow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
article#about > section.container:nth-of-type(2) ul li:nth-child(7n+4):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/green.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
article#about > section.container:nth-of-type(2) ul li:nth-child(7n+5):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/blue.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
article#about > section.container:nth-of-type(2) ul li:nth-child(6n):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/purple.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

///////////////////////////
/* About - Guidelines */
///////////////////////////
article#guidelines>section.container:first-of-type {
    background-color: #5C2C91;
    color: white;
    padding: 10px;
}

///////////////////////////
/* About - Contribute */
///////////////////////////
article#contribute {
    background-color: #5C2C91;
    color: white;
    padding-top: 10px;
}

/* About - Steps to Contribute */
.profile {
    background-color: #5C2C91;
    color: white;
    padding: 10px;
    padding-bottom: 50px;
}
///////////////////////////
/* Source Files */
///////////////////////////
#files {
    display: grid;
    grid-template-rows: auto auto auto; 
    grid-row: 3; /* Keep the header in the second row */
    position: relative; /* Allow positioning for layered content */
    background-color: #FAE81A;
}
#files .container .link-downloadcss .link-downloadhtml {
    font-size: .2rem;
}
#files .container {
    display: inline-block;
    padding: 2em;
    text-align: left;
    margin-top: 0;
}
#files .container a {
    font-size: clamp(1.5rem, 1vw, 1rem);
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    background-image: url('../public/images/red.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#files .container a:not(:last-child):not(.link-codepen) {
    background-image: url('../public/images/blue.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#files .container a:not(:last-child):not(.link-codepen) {
    background-image: url('../public/images/green.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


///////////////////////////
/**** Featured Styles ****/
///////////////////////////
aside#styles {
    background-image: url('../public/images/sky.jpg');
    background-size: cover;
    background-position: center;
    color: #5C2C91;
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 50px;
}
#styles .features ul li {
    list-style-type: none;
}

///////////////////////////
/* Created and maintained by Stephanie... */
/* need to find way to keep in one place or add an animation to it -Rachael */
// .container .profile {
//     background-color: #5C2C91;
    // display: block;
    // unicode-bidi: isolate;
    // position: fixed;
    // right: 2vmin;
    // bottom: 2vmin;
// }
aside.profile {
    width: 95vw;
    max-width: 80ch;
    margin: 1rem auto 1vh;
    padding: 1.25rem;
    z-index: 1;
    overflow-x: hidden;
}
aside.profile ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: #EF7C24;
}
.profile {
    width: 95vw;
    max-width: 80ch;
    margin: 1rem auto 10vh;
    padding: 1.25rem;
    z-index: 1;
  
    h4 {
      margin: 0;
      color: #FAE81A;
    //   text-align: left;
    }
  
    .container {
      display: grid;
      justify-items: center;
      grid-gap: 1rem;
  
      > a {
        min-height: 2em;
        border: 2px solid currentColor;
        color: #5C2C91;
      }
    }
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
      padding: 0;
      list-style: none;
      color: white;
  
      li {
        display: flex;
        padding: 0.45em;
  
        span:nth-child(1) {
          width: auto;
          margin-right: 0.25em;
          font-weight: var(--font-weight-strong);
        }
  
        span:nth-child(2) {
          flex-grow: 1;
          word-break: break-word;
  
          a {
            color: #EF7C24;
          }
        }
      }
    }
}

@media (max-width: 1000px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-left: -10px;
    }

    nav ul li {
        flex-grow: 0;
        width: 100%;
    }
}
