@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
h1 {
  color: white;
  font-size: 600%;
  font-weight: 900;
  text-shadow: 4px 4px 0 red, -4px 4px 0 red, 4px -4px 0 red, -4px -4px 0 red, 4px 0px 0 red, -4px 0px 0 red, 0px 4px 0 red, 0px -4px 0 red;
  margin-bottom: 0;
}

h2, h3, h4 {
  font-size: 200%;
  color: #FAE81A;
}

#styles a,
#styles h2,
header h2,
footer.page-footer a,
header a,
header p,
article#about > section.container:nth-of-type(2) a,
#files a,
#files h3 {
  color: #5C2C91;
}

.link-downloadcss,
.link-downloadthml,
.link-codepen {
  font-size: 100%;
  height: 2px;
  color: #5C2C91;
}

a {
  color: #EF7C24;
}

/****** Links Animation ******/
a {
  transition: transform 0.3s ease;
}

a:hover, p a:hover {
  transform: scale(0.9); /* Scale the link up slightly */
}

/****** Skittle Cursor ******/
html, body::after {
  cursor: url("../public/images/red-small.svg") 8 8, pointer;
}

a:hover {
  cursor: url("../public/images/purple-small.svg") 8 8, pointer;
}

a:active {
  cursor: url("../public/images/orange-small.svg") 8 8, pointer;
}

/* General*/
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
p,
a,
ul li,
ol li {
  margin-left: 5%;
  margin-right: 15%;
}

p a,
ul li a,
ol li a {
  display: inline;
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: normal;
}

a {
  color: white;
  font-weight: bold;
}

.skip-link {
  display: none;
}

a > span > svg {
  width: 1em;
  height: 1em;
}

footer > div > ul > li:nth-child(2) > a > svg {
  width: 1em;
  height: 1em;
}

body::after {
  content: "";
  position: fixed;
  padding-left: 3px;
  right: 5%;
  top: 0;
  bottom: 0;
  width: 30px;
  pointer-events: none;
  background: linear-gradient(to right, #CC1530 0%, #CC1530 16.6%, #EF7C24 16.6%, #EF7C24 33.2%, #FAE81A 33.2%, #FAE81A 49.8%, #9CC03C 49.8%, #9CC03C 66.4%, #008AB7 66.4%, #008AB7 83%, #5C2C91 83%, #5C2C91 100%);
  width: 35px;
  background-size: 100% 200%;
  animation: grow-gradient 5s forwards;
}

@keyframes grow-gradient {
  0% {
    height: 0;
  }
  100% {
    height: 120vh;
  }
}
header::after,
nav::after {
  display: none;
}

/**** Main ****/
/* About - Setting the Stage */
article#about > section.container:first-of-type {
  background-color: #5C2C91;
  color: white;
  padding: 10px;
  padding-bottom: 50px;
}

/* About - Modern CSS Under the Spotlight */
article#about > section.container:nth-of-type(2) {
  background-image: url("../public/images/sky.jpg");
  background-size: cover;
  background-position: center;
  color: #5C2C91;
  padding: 10px;
  padding-bottom: 50px;
}

/* skittles list */
article:nth-child(1) section:nth-child(2) ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2px;
  width: 100%;
  padding: 0;
  padding-left: 0;
  color: #CC1530;
  font-weight: 500;
}

article#about > section.container:nth-of-type(2) ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}

article#about > section.container:nth-of-type(2) ul li:nth-child(7n+1):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/red.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

article#about > section.container:nth-of-type(2) ul li:nth-child(7n-6):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/red.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

article#about > section.container:nth-of-type(2) ul li:nth-child(7n+2):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/orange.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

article#about > section.container:nth-of-type(2) ul li:nth-child(7n+3):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/yellow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

article#about > section.container:nth-of-type(2) ul li:nth-child(7n+4):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

article#about > section.container:nth-of-type(2) ul li:nth-child(7n+5):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/blue.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

article#about > section.container:nth-of-type(2) ul li:nth-child(6n):before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/purple.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* About - Guidelines */
article#guidelines > section.container:first-of-type {
  background-color: #5C2C91;
  color: white;
  padding: 10px;
}

/* About - Contribute */
article#contribute {
  background-color: #5C2C91;
  color: white;
  padding-top: 10px;
}

/* About - Steps to Contribute */
.profile {
  background-color: #5C2C91;
  color: white;
  padding: 10px;
  padding-bottom: 50px;
}

/* Source Files */
#files {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row: 3; /* Keep the header in the second row */
  position: relative; /* Allow positioning for layered content */
  background-color: #FAE81A;
}

#files .container .link-downloadcss .link-downloadhtml {
  font-size: 0.2rem;
}

#files .container {
  padding: 2em;
  text-align: left;
  margin-top: 0;
}

#files .container a {
  font-size: clamp(1.5rem, 1vw, 1rem);
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-image: url("../public/images/red.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#files .container a:not(:last-child):not(.link-codepen) {
  background-image: url("../public/images/blue.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#files .container a:not(:last-child):not(.link-codepen) {
  background-image: url("../public/images/green.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/**** Featured Styles ****/
aside#styles {
  background-image: url("../public/images/sky.jpg");
  background-size: cover;
  background-position: center;
  color: #5C2C91;
  padding: 10px;
  padding-bottom: 50px;
  margin-top: 50px;
}

#styles .features ul li {
  list-style-type: none;
}

/* Created and maintained by Stephanie... */
/* need to find way to keep in one place or add an animation to it -Rachael */
aside.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 1vh;
  padding: 0;
  z-index: 1;
  overflow-x: hidden;
}

aside.profile ul {
  list-style-type: none;
}

a {
  color: #EF7C24;
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  z-index: 1;
}
.profile h4 {
  margin: 0;
  color: #FAE81A;
}
.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.profile .container > a {
  min-height: 2em;
  border: 2px solid currentColor;
  color: #5C2C91;
}
.profile ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
}
.profile ul li {
  display: flex;
  padding: 0.45em;
}
.profile ul li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.profile ul li span:nth-child(2) {
  flex-grow: 1;
  word-break: break-word;
}
.profile ul li span:nth-child(2) a {
  color: #EF7C24;
}

@media (max-width: 1000px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }
  nav {
    margin-left: -10px;
  }
  nav ul li {
    flex-grow: 0;
    width: 100%;
  }
}
header a {
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-rows: auto auto; /* Two rows */
  grid-row: 2; /* Keep the header in the second row */
  position: relative; /* Allow positioning for layered content */
  background-image: url("../public/images/giraffe.png"), url("../public/images/sky.jpg"); /* Layered images */
  background-repeat: no-repeat, no-repeat;
  background-position: 120% 25%, center;
  background-size: 55%, cover;
  min-height: 700px;
}

header svg,
footer svg {
  width: 20px;
  height: 20px;
}

.skip-link {
  display: none;
}

nav ul {
  list-style: none; /* Remove default bullet points */
  margin: 0; /* Remove default margins */
  padding: 0; /* Remove default padding */
  margin-left: -5%;
  margin-right: 5%;
}

nav ul li {
  background-color: #ffffff; /* Default background */
  width: 100%; /* Ensure the items span the entire width */
}

nav ul li:nth-child(1) {
  background-color: #CC1530; /* Red */
}

nav ul li:nth-child(2) {
  background-color: #EF7C24; /* Orange */
}

nav ul li:nth-child(3) {
  background-color: #FAE81A; /* Yellow */
}

nav ul li:nth-child(4) {
  background-color: #9CC03C; /* Green */
}

nav ul li:nth-child(5) {
  background-color: #008AB7; /* Blue */
}

nav ul li:nth-child(6) {
  background-color: #5C2C91; /* Blue */
}

nav ul li a {
  display: block; /* Makes the links fill the list item */
  color: white; /* Text color for contrast */
  padding: 15px; /* Add spacing for better look */
  text-align: center; /* Centers the text */
}

body {
  display: grid;
  grid-template-rows: auto auto; /* Two rows */
}

nav {
  grid-row: 1; /* Place nav in the first row */
}

footer.page-footer {
  background-color: #9CC03C;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 0;
}

ul li {
  list-style: none;
}

aside .profile {
  background-image: url("../public/images/sky.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profile {
  border-radius: 20px;
  animation: orbit 6s linear infinite;
}

@keyframes orbit {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300%, 0%);
  } /* start moving again */
  30% {
    transform: translate(300%, 0%);
  } /* pause */
  50% {
    transform: translate(300%, 300%);
  } /* move */
  55% {
    transform: translate(300%, 300%);
  }
  75% {
    transform: translate(0%, 300%);
  }
  80% {
    transform: translate(0%, 300%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}

/*# sourceMappingURL=style.css.map */
