@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");
/* General*/
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, p, a, ul li, ol li {
  margin-left: 5%;
  margin-right: 5%;
}

p a, ul li a, ol li a {
  display: inline;
  padding: 0;
  margin: 0;
  line-height: normal;
}

/* Header */
header a {
  margin: 0;
  padding: 0;
}

header {
  background-image: url("../public/images/sky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

header svg, footer svg {
  width: 20px;
  height: 20px;
}

.skip-link {
  display: none;
}

/* Main */
article#about > section.container:first-of-type {
  background-color: #5C2C91;
  color: white;
  padding: 10px;
}

article#about > section.container:nth-of-type(2) {
  background-image: url("../images/sky.jpg");
  background-size: cover;
  background-position: center;
  color: #5C2C91;
  padding: 10px;
}

article#guidelines > section.container:first-of-type {
  background-color: #5C2C91;
  color: white;
  padding: 10px;
}

article#contribute {
  background-color: #5C2C91;
  color: white;
  padding-top: 10px;
}

.profile {
  background-color: #5C2C91;
  color: white;
  padding: 10px;
}

#styles {
  background-color: #FAE81A;
  color: #5C2C91;
  padding: 10px;
}

a {
  text-decoration: none;
  color: #EF7C24;
}

/* Footer */
footer#files {
  background-image: url("../images/sky.jpg");
  background-size: cover;
  background-position: center;
  color: #5C2C91;
  padding: 10px;
}

footer.page-footer {
  background-image: url("../images/sky.jpg");
  background-size: cover;
  background-position: center;
  color: #5C2C91;
  padding: 10px;
}
