@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");
:root {
  --color-primary: #fee57c;
  --color-primary-alt: #ffdeda;
  --color-secondary: #39fef6;
  --color-background: #27337d;
  --color-text: #ffdeda;
  --color-light: #fff;
  --color-anchor: #fff;
  --font-family: "Baloo 2", sans-serif;
  --font-weight-strong: 500;
  --font-size-h1: 6rem;
  --font-size-h2: 3rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.35rem;
  --font-size-text: 1.15rem;
  --border-radius: 8px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family-text);
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-primary);
}

@media (min-width: 35rem) {
  main .container #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
main .container #contribute {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main .container #files {
  grid-column: 1/3;
}

#guidelines > .container #about {
  grid-row: 1/2;
  grid-column: 1/3;
  background-color: #fff;
  padding: 20px;
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 120ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

article, #contribute {
  grid-column: 1;
  grid-row: 1;
}

#guidelines {
  grid-column: 1/2;
}

#contribute {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column: 1/2;
  grid-row: 1/2;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  background: var(#27337d);
}

/* Make images easier to work with */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
  font-family: "FontDiner Swanky", decorative;
  text-transform: uppercase;
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
  font-family: "Akaya Kanadaka", decorative;
}

h2 {
  background-color: var(--color-secondary);
  align-self: center;
  color: var(--color-background);
  padding: 0.25em 0.5em;
  -webkit-transform: skew(18deg);
  -moz-transform: skew(18deg);
  -o-transform: skew(18deg);
  background: #4556be;
  box-shadow: 8px 8px 8px #000;
}

h3 {
  font-size: var(--font-size-h3);
  font-family: "Akaya Kanadaka", decorative;
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--color-anchor);
  text-transform: uppercase;
}

blockquote {
  position: relative;
  display: grid;
  grid-template-areas: "blockquote";
  place-items: center;
  padding: 0;
  margin: 3rem 0;
  color: var(--color-primary);
}
blockquote > * {
  grid-area: blockquote;
}
blockquote p {
  position: relative;
  font-size: var(--font-size-h4);
  margin-bottom: 0;
  padding: 0.5em;
  font-family: "Roboto", sans-serif;
}
blockquote p strong {
  font-size: 1.15em;
}
blockquote::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid var(--color-primary);
  box-shadow: 0.25em 0.25em var(--color-secondary);
  transform: scale(1.1);
  content: "";
}
blockquote::after {
  grid-area: blockquote;
  color: #6f6ffd;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 199.1 111.3'%3E%3Cpath fill='%23ffdeda' d='M118 77a77 77 0 00-2-18c-2-4-3-9-3-13a29 29 0 011-12 19 19 0 017-9c4-3 8-4 13-3a14 14 0 018 7 31 31 0 012 5 75 75 0 005 10 47 47 0 002 5 17 17 0 003 3c4 4 8 4 13 0a15 15 0 005-8 37 37 0 001-7l1-11a18 18 0 014-11 2 2 0 000-3l-3-3-2-3a2 2 0 011-2 11 11 0 012-1l19-3c4 0 5 1 3 5l-7 16c-1 3-2 3-5 1l-4-5a1 1 0 00-1 0 9 9 0 00-3 5 23 23 0 00-1 6l-1 11a26 26 0 01-1 7 18 18 0 01-8 10c-5 3-9 3-13 0a20 20 0 01-6-6 68 68 0 01-6-13l-2-4a18 18 0 00-2-4 10 10 0 00-14-2 15 15 0 00-4 4 19 19 0 00-3 9 32 32 0 000 11l2 6a78 78 0 012 27 32 32 0 01-4 15 24 24 0 01-11 9 33 33 0 01-19 3 16 16 0 01-13-9 29 29 0 01-3-11 70 70 0 012-18l2-14a33 33 0 000-14c-1-4-4-7-8-7-7-1-14 1-19 6a34 34 0 00-6 9 59 59 0 00-4 10l-3 12-2 6a26 26 0 01-5 8 17 17 0 01-16 6 26 26 0 01-10-4 7 7 0 01-2-1 2 2 0 010-2 2 2 0 012 0l3 1a22 22 0 0010 3 13 13 0 009-4 22 22 0 005-6 41 41 0 003-8l3-12a59 59 0 015-13 31 31 0 017-9c6-5 14-7 22-5a12 12 0 019 7 21 21 0 011 7 57 57 0 01-2 17 132 132 0 00-2 16 37 37 0 000 13 27 27 0 002 5 13 13 0 0011 8 30 30 0 0016-3 22 22 0 0010-10c3-4 3-9 4-13v-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  place-self: end;
  content: "Ooh, scale()!";
  background-size: 90%;
  width: 10ch;
  padding-top: 3.25em;
  transform: translate(25%, 50%) rotate(-5deg);
  transform-origin: bottom right;
}
@media (max-width: 60rem) {
  blockquote::after {
    transform: translate(25%, 55%) rotate(-5deg);
  }
}

#guidelines {
  background-color: #ffe451;
}

#contribute {
  background-color: #f77519;
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

header {
  --logomark-height: 2.3em;
  --logomark-padding: 0 1em;
  display: grid;
  min-height: 40vh;
  place-items: center;
  padding: 10vh 2rem;
  background-repeat: repeat-x;
  background-position: 0 -38px, 20px -48px;
  color: var(--color-primary-alt);
  text-align: center;
  background-color: #000;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgb(255, 255, 255) 35px, rgb(255, 255, 255) 70px);
}
header h1 {
  padding: 0.2em 0.2em;
  color: #fee57c;
  font-size: 155px;
  text-shadow: 2px 2px #000;
  width: 9em;
  height: 1.3em;
  -webkit-transform: skew(18deg);
  -moz-transform: skew(18deg);
  -o-transform: skew(18deg);
  background: #4556be;
  box-shadow: 8px 8px 8px black;
}
header h2 {
  max-width: 55ch;
  color: #4556be;
  background-color: #fee57c;
  text-shadow: 2px 2px #fff;
  height: 2em;
  -webkit-transform: skew(-18deg);
  -moz-transform: skew(-18deg);
  -o-transform: skew(-18deg);
  box-shadow: -8px 8px 8px #000;
}
header p {
  background-color: #f77519;
  color: #000;
  font-weight: 300;
  padding: 0.2em 0.2em;
  height: 2em;
  -webkit-transform: skew(18deg);
  -moz-transform: skew(18deg);
  -o-transform: skew(18deg);
  box-shadow: 8px 8px 8px black;
  object-position: center;
}
header a {
  color: #000;
  font-weight: 300;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul li {
  margin: 0.25rem;
  text-shadow: 3px 3px #000;
}
nav ul li:nth-child(1) a::before {
  margin-bottom: 0.6em;
  border-top: 50px solid transparent;
  border-right: 100px solid #fff;
  border-bottom: 50px 20px solid transparent;
  filter: drop-shadow(-5px 8px #f77519);
}
nav ul li:nth-child(2) a::before {
  width: 0px;
  height: 0px;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  margin-left: 1.7em;
  border-left: 50px 20px solid #fee57c;
  border-bottom: 50px solid #fee57c;
  border-left: 3px solid #fee57c;
  border-right: 50px solid #fee57c;
  box-shadow: 8px 8px 8px black;
}
nav ul li:nth-child(3) a::before {
  width: 0px;
  height: 0px;
  margin-top: 0.4em;
  margin-left: 1.6em;
  margin-bottom: 0.6em;
  border: 25px solid #f77519;
  border-radius: 60px;
  box-shadow: 5px 5px 5px black;
}
nav ul li:nth-child(4) a::before {
  width: 0px;
  height: 0px;
  margin-top: 1.3em;
  margin-bottom: 0.6em;
  border-right: 25px solid var(--color-primary-yellow);
  border-top: 55px solid #2dd2cb;
  border-left: 55px solid #2dd2cb;
  border-bottom: 35px solid #2dd2cb;
  border-top-left-radius: 60px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 5px 5px 5px black;
}
nav ul li:nth-child(5) a::before {
  width: 0px;
  height: 0px;
  margin-left: 1.6em;
  margin-bottom: 0.6em;
  border-bottom: 80px solid #fda798;
  border-left: 50px solid transparent;
  border-right: 3px solid transparent;
  box-shadow: 8px 8px 8px black;
  box-shadow: 8px 8px 8px black;
}
nav ul li:nth-child(6) a::before {
  width: 0px;
  height: 0px;
  margin-left: 1.7em;
  margin-bottom: 1em;
  border-right: 25px solid #f77519;
  border-top: 35px solid #fc78ac;
  border-left: 25px solid #2dd2cb;
  border-bottom: 25px solid #fda798;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: transparent;
  box-shadow: 5px 5px 5px black;
}
nav ul li:nth-child(1) a {
  color: #fff;
}
nav ul li:nth-child(2) a {
  color: #fee57c;
}
nav ul li:nth-child(3) a {
  color: #f77519;
}
nav ul li:nth-child(4) a {
  color: #2dd2cb;
}
nav ul li:nth-child(5) a {
  color: #fda798;
}
nav ul li:nth-child(6) a {
  color: #fc78ac;
}
nav ul a {
  display: inline-grid;
  padding: 0.5rem;
  font-size: 1.25rem;
  text-decoration: none;
}
nav ul a:nth-child(1)::before {
  color: pink;
}
nav ul a:nth-child(2)::before {
  color: #fee57c;
}
nav ul a::before {
  width: 100%;
  height: 0.33em;
  opacity: 100;
  content: "";
}
nav ul a:hover::before, nav ul a:focus::before {
  opacity: 11;
}

#about h2 {
  background-color: var(--color-secondary);
  align-self: center;
  color: #4557bf;
  text-shadow: 2px 2px #f77519;
  padding: 0.25em 0.5em;
  -webkit-transform: skew(-18deg);
  -moz-transform: skew(-18deg);
  -o-transform: skew(-18deg);
  background: #fff;
  box-shadow: -8px 8px 2px #f77519;
}
#about section:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
#about section:nth-child(2) p:nth-of-type(2) {
  align-self: center;
  margin-top: 2rem;
  font-weight: var(--font-weight-strong);
  text-align: center;
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 0 2rem;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
}
@media (max-width: 35rem) {
  #about section:nth-child(2)::before {
    transform: scale(2) translate(-25%, -25%);
  }
}

#guidelines {
  background-color: #fee57c;
}
#guidelines h2 {
  background-color: var(--color-secondary);
  align-self: center;
  color: #fee57c;
  text-shadow: 2px 2px #000;
  padding: 0.25em 0.5em;
  -webkit-transform: skew(18deg);
  -moz-transform: skew(18deg);
  -o-transform: skew(18deg);
  background: #4556be;
  box-shadow: 8px 8px 8px #000;
}
#guidelines h3 {
  display: inline-block;
  transform: rotate(-8deg) translateX(-10%);
  background: linear-gradient(to right, #f77519, #39fef6, #fd89cf);
}
@media (min-width: 120ch) {
  #guidelines h3 {
    transform: rotate(-8deg) translateX(-30%);
  }
}
#guidelines p {
  color: #27337d;
}
#guidelines a {
  color: #000;
  font-weight: 800;
}
@supports (background-clip: text) or (-webkit-background-clip: text) {
  #guidelines p:nth-of-type(2) {
    position: relative;
  }
  #guidelines p:nth-of-type(2)::before {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(4deg) translate(4.75rem, -3.5rem);
    transform-origin: left center;
    -webkit-background-clip: text;
    background-clip: text;
    color: #000;
    font-size: 0.9em;
    font-weight: normal;
    content: "← Whoa, text gradients!";
  }
}
#guidelines .container > a {
  align-self: center;
  color: #39fef6;
  background-color: #4557bf;
  border-radius: 2px 2px black;
  filter: drop-shadow(2px 2px black);
}

#contribute h2 {
  background-color: #fda798;
  align-self: center;
  color: #f77519;
  text-shadow: 2px 2px #000;
  padding: 0.25em 0.5em;
  -webkit-transform: skew(-18deg);
  -moz-transform: skew(-18deg);
  -o-transform: skew(-18deg);
  background: #39fef6;
  box-shadow: -8px 8px 8px #000;
}
#contribute h3 {
  text-align: center;
  color: #39fef6;
  text-shadow: 2px 2px #000;
}
#contribute p {
  color: #000;
}
#contribute a {
  color: #fff;
  font-weight: 800;
}
#contribute section, #contribute #container {
  color: #000;
}

#files {
  display: grid;
  place-content: center;
  margin: 5vh auto;
  text-align: center;
}

#files h3 {
  height: 0;
  opacity: 0;
}

#files .container {
  display: inline-block;
  padding: 5em 15em;
  background-color: var(--color-background);
  text-align: center;
  margin-top: 5.4em;
  margin-left: 1.6em;
  margin-bottom: 0.6em;
  border-right: 25px solid violet;
  border-top: 55px solid #ffe451;
  border-left: 35px solid #f07e66;
  border-bottom: 55px solid #2dd2cb;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 8px 8px 8px black;
}

#files .container a:not(:last-child) {
  margin: 0.5rem;
}

#files .container a:not(:last-child):not(.link-codepen) {
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-family: "Akaya Kanadaka", decorative;
  color: #27337d;
}

.features {
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
  background-color: #000;
}
.features li {
  display: grid;
  position: relative;
  place-content: center;
  min-height: 12rem;
  padding: 2rem 2em auto;
  color: #4557bf;
  font-family: "FontDiner Swanky", decorative;
  text-align: center;
}
.features li > span {
  display: grid;
  place-content: center;
  padding: 0.5em;
  grid-gap: 1em;
  line-height: 1.1;
}
.features li > span a {
  color: inherit;
  font-size: 1.3rem;
  font-weight: var(--font-weight-strong);
  text-decoration: none;
}
.features li > span a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.features li > span span:nth-child(2) {
  position: relative;
}

#styles {
  margin: 5vh 0 20vh;
  text-align: center;
  background-color: #000;
  background-image: repeating-linear-gradient(-45deg, transparent, transparent 35px, rgb(255, 255, 255) 35px, rgb(255, 255, 255) 70px);
}
#styles h2 {
  color: #4556be;
  background-color: #fee57c;
  text-shadow: 2px 2px #fff;
  -webkit-transform: skew(18deg);
  -moz-transform: skew(18deg);
  -o-transform: skew(18deg);
  box-shadow: 8px 8px 8px #000;
}

#styles .features,
.features.patterned {
  background-color: #fda798;
  text-shadow: 2px 2px #fff;
  -webkit-transform: skew(-18deg);
  -moz-transform: skew(-18deg);
  -o-transform: skew(-18deg);
  box-shadow: -8px 8px 8px #000;
}
#styles .features li,
.features.patterned li {
  height: 50px;
  border: 20px solid #f77519;
  border-radius: 50%;
  background-color: #fcfcfc;
  box-shadow: 5px 5px 5px black;
}
@media (min-width: 515px) and (max-width: 765px) {
  #styles .features li:nth-last-child(1):nth-child(odd),
  .features.patterned li:nth-last-child(1):nth-child(odd) {
    grid-column: span 2;
  }
}
#styles .features::after,
.features.patterned::after {
  position: absolute;
  bottom: -2.7em;
  width: 10ch;
  padding-top: 4em;
  transform: rotate(15deg);
  transform-origin: bottom right;
  background-size: 80%;
  color: #fee57c;
  font-size: 3rem;
  text-shadow: 1px 1px #4557bf, 2px 2px #4557bf, 3px 3px #27337d, 4px 4px #4557bf, 5px 5px #4557bf, 6px 6px #2dd2cb, 7px 7px #2dd2cb, 8px 8px #2dd2cb, 9px 9px #39fef6, 10px 10px #39fef6, 11px 11px #39fef6, 12px 12px #fd89cf, 13px 13px #fd89cf, 14px 14px #fd89cf, 15px 15px #fda798, 16px 16px #fda798, 17px 17px #f07e66, 18px 18px #f07e66, 19px 19px #fee57c, 20px 20px #fee57c, 21px 21px #fee57c, 22px 22px #39fef6, 23px 23px #39fef6, 24px 24px #2dd2cb, 25px 25px #2dd2cb, 26px 26px #4557bf, 27px 27px #4557bf;
  content: "Grid FTW!";
}

.profile {
  width: 95vw;
  max-width: 80ch;
  margin: 1rem auto 10vh;
  padding: 1.25rem;
  z-index: 1;
}
.profile h4 {
  margin: 0;
  color: #f77519;
  text-align: center;
  font-family: "Akaya Kanadaka", decorative;
}
.profile .container {
  display: grid;
  justify-items: center;
  grid-gap: 1rem;
}
.profile .container > a {
  min-height: 2em;
  border: 2px solid currentColor;
  color: #27337d;
}
.profile ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #27337D;
}
.profile ul li {
  display: flex;
  padding: 0.45em;
}
.profile ul li span:nth-child(1) {
  width: auto;
  margin-right: 0.25em;
  font-weight: var(--font-weight-strong);
}
.profile ul li span:nth-child(2) {
  flex-grow: 1;
  word-break: break-word;
}
.profile ul li span:nth-child(2) a {
  color: #27337d;
}
@media (min-width: 180ch) {
  .profile {
    position: fixed;
    right: 2vmin;
    bottom: 2vmin;
    max-width: 30ch;
    margin-bottom: 0;
    border-radius: var(--border-radius);
    background-color: var(--color-light);
    box-shadow: 0 2px 5px rgba(254, 229, 124, 0.15);
  }
  .profile ul {
    justify-content: unset;
  }
  .profile ul li {
    padding: 0;
  }
  .profile ul li span:nth-child(1) {
    width: 8ch;
    margin-right: 0;
  }
}

.profile {
  border-radius: 20px;
  animation: orbit 55s linear infinite;
}

@keyframes orbit {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(300%, 0%);
  } /* start moving again */
  30% {
    transform: translate(300%, 0%);
  } /* pause */
  50% {
    transform: translate(300%, 300%);
  } /* move */
  55% {
    transform: translate(300%, 300%);
  }
  75% {
    transform: translate(0%, 300%);
  }
  80% {
    transform: translate(0%, 300%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.page-footer {
  --logomark-height: 2em;
  --logomark-padding: 0;
  position: relative;
  padding: 3rem 1rem;
  background-color: #4557bf;
  color: #000;
  background-color: #2dd2cb;
}
.page-footer::before {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid var(--color-text);
  box-shadow: -0.15em -0.19em #fd89cf;
  place-content: center;
  position: absolute;
  left: 50%;
  width: 2em;
  transform: translate(-50%, -100%);
  border-radius: 50px;
  box-shadow: 5px 5px #000;
  background-color: #f77519;
  color: #000;
  font-size: 3rem;
  content: "S";
}
.page-footer p:first-child {
  margin-top: 3rem;
  font-weight: var(--font-weight-strong);
  letter-spacing: 0.03em;
  text-align: left;
}
.page-footer p a {
  color: inherit;
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer .container > :last-child {
  margin-bottom: 0;
}

.skip-link {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  background-color: green;
  border-radius: 3px 3px;
  color: #fff;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 1em;
}

[class^=link]:not(.link-codepen) {
  min-height: 5em;
  width: 190px;
  height: 90px;
  background: var(--color-primary);
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  margin-top: 20px;
  color: #27337d;
  font-size: 5em;
  font-weight: 600;
}

[class^=link]:not(.link-codepen),
.profile .container > a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.75em;
  transform: translate(0, 0);
  transition: 180ms all ease-in-out;
  font-size: 1.125rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
[class^=link]:not(.link-codepen):hover, [class^=link]:not(.link-codepen):focus,
.profile .container > a:hover,
.profile .container > a:focus {
  transform: translate(0.5em, 0.5em);
}
[class^=link]:not(.link-codepen):focus,
.profile .container > a:focus {
  outline-color: green;
  outline-style: solid;
  background-color: green;
}

.page-footer [class^=link] {
  width: 100%;
  min-height: 2.5em;
  background-color: var(--color-background);
  color: #39fef6;
}

.link-codepen {
  display: block;
  margin-top: 3rem;
  font-size: var(--font-size-h4);
}
.link-codepen::before {
  position: absolute;
  padding-right: 1.25em;
  transform: translate(15%, -90%) rotate(-3deg);
  background-repeat: no-repeat;
  background-position: right 130%;
  background-size: 14%;
  color: #2dd2cb;
  font-size: 0.85em;
  text-transform: uppercase;
  content: "Jump right in";
}

.link-allstyles {
  font-size: var(--font-size-h4);
}
@media (max-width: 400px) {
  .link-allstyles {
    margin-left: 6rem;
  }
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}

/*# sourceMappingURL=style.css.map */
