
/* General*/

body {
    margin: 0;
    font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, p, a, ul li, ol li {
    margin-left: 5%;
    margin-right: 5%;
}

p a, ul li a, ol li a {
    display: inline;
    padding: 0;
    margin: 0;
    font-weight: bold;
    line-height: normal;
}

a {
    color: white;
    font-weight: bold;
}



/* Fonts */

h1 {
    color: white;
    font-size: 600%;
    font-weight: 900;
    text-shadow: 
        4px 4px 0 red, 
       -4px 4px 0 red, 
        4px -4px 0 red, 
       -4px -4px 0 red,
        4px 0px 0 red, 
       -4px 0px 0 red, 
        0px 4px 0 red, 
        0px -4px 0 red;
    margin-bottom: 0;
}


h2, h3, h4 {
    font-size: 200%;
    color: #FAE81A;
}

#styles a, #styles h2, header h2, footer.page-footer a, header a, header p, article#about > section.container:nth-of-type(2) a, footer#files a {
    color: #5C2C91;
}




/* Header */

header a {
    margin: 0;
    padding: 0;
}

header {
    background-image: url('../public/images/sky.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
}

header svg, footer svg {
    width: 20px;
    height: 20px;
}

.skip-link {
    display: none;
}

/* Main */

article#about > section.container:first-of-type {
    background-color: #5C2C91;
    color: white;
    padding: 10px;
    padding-bottom: 50px;
}

article#about > section.container:nth-of-type(2){
    background-image: url('../public/images/sky.jpg');
    background-size: cover;
    background-position: center;
    color: #5C2C91;
    padding: 10px;
    padding-bottom: 50px;
}

article#guidelines > section.container:first-of-type {
    background-color: #5C2C91;
    color: white;
    padding: 10px;
}

article#contribute {
    background-color: #5C2C91;
    color: white;
    padding-top: 10px;
}

.profile {
    background-color: #5C2C91;
    color: white;
    padding: 10px;
    padding-bottom: 50px;

}

#styles {
    background-color: #FAE81A;
    color: #5C2C91;
    padding: 10px;
    padding-bottom: 50px;
}

/* Footer */

footer#files {
    background-image: url('../public/images/sky.jpg');
    background-size: cover;
    background-position: center;
    color: #5C2C91;
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 50px;
}

footer.page-footer {
    background-image: url('../public/images/sky.jpg');
    background-size: cover;
    background-position: center;
    color: #5C2C91;
    padding: 10px;
}

/* Nav */

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
}

nav ul li {
    text-align: center;
    background-color: transparent;
    flex-grow: 1;
    width: calc(100% / 6);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul li:nth-child(1) {
    background-color: #CC1530;
}

nav ul li:nth-child(2) {
    background-color: #EF7C24;
}

nav ul li:nth-child(3) {
    background-color: #FAE81A;
}

nav ul li:nth-child(4) {
    background-color: #9CC03C;
}

nav ul li:nth-child(5) {
    background-color: #008AB7;
}

nav ul li:nth-child(6) {
    background-color: #5C2C91;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto auto;
}

nav {
    grid-row: 1;
}

header {
    grid-row: 2;
}

@media (max-width: 1000px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav {
        margin-left: -10px;
    }

    nav ul li {
        flex-grow: 0;
        width: 100%;
    }
}
